<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='img/sir.png') }}" >
    <script src="https://kit.fontawesome.com/64d58efce2.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">  
    <title>Sirius</title>
    
</head>
<body> 
   <script src="https://smtpjs.com/v3/smtp.js">
   </script>
   <script src="{{ url_for('static', filename='js/index.js') }}"></script>
   <nav class="navbar background ">
    <ul class="nav-list" width:50%>
      <div class="logo" ><img src="{{ url_for('static', filename='img/sir.png') }}" alt="logo" /></div>
      <li id="li" ><a href="#about-container"> About Us</a></li>
      <li id="li" ><a href="#services"> Services</a></li>
      <li id="li" ><a href="#contact"> Contact Us</a></li>
      <li id="li" ><a href="https://coinmarketcap.com/"> coinMarket</a></li>
    </ul>
    
   </nav> 
     <div class="container">
        <div class="img">   
          <img src="{{ url_for('static', filename='img/un.svg') }}" />
        </div>
        <div class="welcome-container">
          <form >
            <img class="taken" src="{{ url_for('static', filename='img/taken.svg') }}" /> 
            <h2>welcome to Sirius </br>We simplify the use of sending money by </br>our user-friendly interface and efficient servers.</h2>
             <div class="input-div">
              <div class="go" >
                <p><a href="{{ url_for('login') }}">sign in</a></p>
              </div>
             </div>
             <div class="input-div">
              <div class="go" >
                <p><a href="{{ url_for('register') }}">sign up</a></p>
              </div>
             </div>
          </form>
        </div>
     </div>
    <div id="about-container">
      <div class="card">
        <div style="padding: 20px;text-align: center;font-size:12px;">
           <h1> Sirius the "Star" </h1>
           <p>Sirius is also known as the "Dog Star" and is the brightest star in the Earth's night sky. </br>
            It is located in the constellation Canis Major and has been observed by humans for thousands of years.</br>
           </p>
        </div>
        <div class="cover">
           <div class="coverFront">
              <div>
                 <h5>Sirius the "Star" </h5>
                 <img src="{{ url_for('static', filename='img/coin.png') }}" alt="" class="sh_img">
              </div>
           </div>
           <div class="coverBack"></div>
        </div>
     </div>
  
     <div class="card">
        <div style="padding: 20px;text-align: center;font-size:12px;">
           <h1>Sirius the "App"</h1>
           <p>
            Sirius,is a cryptocurrency implemented with Python and Flask by </br>
            developers who are passionate about building decentralized financial solutions for the future.  </br>
            Sirius is a cutting-edge cryptocurrency that is designed to be fast, secure, and scalable.  </br>
           </p>
        </div>
        <div class="cover">
           <div class="coverFront">
              <div>
                 <h5>Sirius the "App"</h5>
                 <img src="{{ url_for('static', filename='img/app.svg') }}" alt="" class="sh_img">
              </div>
           </div>
           <div class="coverBack"></div>
        </div>
     </div>
     <div class="card">
        <div style="padding: 20px;text-align: center;font-size:12px;">
           <h1>Our Goal</h1>
           <p>
            With Sirius, you can send and receive payments instantly, without the need for intermediaries. </br>
             One of the key features of Sirius is its advanced security measures.  
            </br>We use industry-standard encryption techniques to ensure that your transactions are safe and secure.
             and we are always working to improve our security protocols.
           </p>
        </div>
        <div class="cover">
           <div class="coverFront">
              <div>
                 <h5>Our Goal</h5>
                 <img src="{{ url_for('static', filename='img/target.svg') }}" alt="" class="sh_img">
              </div>
           </div>
           <div class="coverBack"></div>
        </div>
     </div>
    </div>
    <div id="services">
	<div class="container">
		<div class="services">
			<div class="service">
				<div class="icon">
					<i class="fas fa-shield-alt"></i>
				</div>
				<h3>Secure Transactions</h3>
				<p>With Sirius, you can be sure that your transactions are safe and secure. We use industry-standard encryption techniques to protect your data and ensure that your funds are always secure.</p>
			</div>
			<div class="service">
				<div class="icon">
					<i class="fas fa-fast-forward"></i>
				</div>
				<h3>Fast Transactions</h3>
				<p>With our high-speed network, you can send and receive payments instantly, without any delays or waiting periods. Say goodbye to slow transaction times and hello to instant payments!</p>
			</div>
			<div class="service">
				<div class="icon">
					<i class="fas fa-globe"></i>
				</div>
				<h3>Global Transactions</h3>
				<p>Whether you're sending money to a friend across the street or a family member on the other side of the world, Sirius makes it easy to send and receive payments from anywhere in the world.</p>
			</div>
	</div>	

    </div>


    <div id="contact">
      <div class="contact-container">
       <h3>Connect with Us</h3>
       <p>We would love to respond to your queries and ease your journey.</br>Feel free to get in touch with us </p>
        <div class="contact-box">
           <div class="contact-left">
               <h4>Sent Your Request</h4>
               <form>
                 <div class="input-row">
                  <div class="input-group">
                    <label>Name</label>
                    <input type="text" placeholder="Name" id="name">
                  </div>
                  <div class="input-group">
                    <label>Phone</label>
                    <input type="tel" placeholder="Phone" id="phone">
                  </div>
                  
                 </div>
                 <div class="input-row">
                  <div class="input-group">
                    <label>Email</label>
                    <input type="email" placeholder="Email" id="email">
                  </div>
                  <div class="input-group">
                    <label>Subject</label>
                    <input type="text" placeholder="Subject" id="subject">
                  </div>
                 </div>
                    <label>Message</label>
                    <textarea  rows="5" placeholder="Your Message" id="message"></textarea>
                   <button  id="btn" type="submit">Send</button>
                   <button type="reset">Cancel</button>
               </form>
           </div>
        
            <div class="contact-right">
               <h4>Reach Us</h4>
                <table>
                  <tr>
                     <td>Email</td>
                     <td>bouzidiwaad19@gmail.com</td>
                  </tr>
                  <tr>
                     <td>Phone</td>
                     <td>+1 012 345 6789</td>
                  </tr>
                  <tr>
                     <td>Email</td>
                     <td>bouzidiwaad19@gmail.com</td>
                  </tr>

                </table>
            </div>

      </div>
      
    
</body>
</html>